<!DOCTYPE html>
<html ng-app="ginbookApp">

	<head>
		<!-- AngularJS -->
		<script src="public/js/angular.js" type="text/javascript"></script>
		
		<!-- Controllers -->
		<script src="app/app.js" type="text/javascript"></script>
		
		<!-- Bootstrap styles -->
		<link href="public/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body ng-controller="TopCtrl">
		
		<div style="background: black; color: white">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<strong>ДЖИН-БУК <sup>2000</sup></strong>
					</div>
				</div>
			</div>
		</div>
		<div style="background: gray; color: white">
			<div class="container">
				<div class="row">
					<div class="col-md-12 horizontal">
						<div class="btn-group btn-group-sm">
							<button type="button" class="btn btn-default" ng-click="setScreen('dashboard')">Дешборд</button>
							<button type="button" class="btn btn-default" ng-click="setScreen('modules')">Модули</button>
						</div>						
					</div>
				</div>
			</div>
		</div>		
				
				
		<ng-include src="'views/dashboard.html'"></ng-include>
		<ng-include src="'views/modules.html'"></ng-include>
		
	</body>
</html>