<div class="container" ng-controller="ModulesController" ng-show="screen['modules']">
	<div class="row">
		<!-- Left-side menu -->
		<div class="col-md-3">
			<div ng-repeat="module in data.getModules()">
				<button type="button" 
						class="btn btn-block btn-default" 
						ng-class="getModuleActiveClass(module)"
						ng-click="selectModule(module)">
					{{module}}
				</button>
			</div>
			<br/>
		</div>
		
		<!-- Right-side -->
		<div class="col-md-3">
			<div ng-repeat="group in data.getGroups() | filter: groupModuleFilterFn">
				<button type="button" 
						class="btn btn-block btn-default" 
						ng-class="getGroupActiveClass(group)"
						ng-click="selectGroup(group)">
					{{group}}
				</button>
			</div>
			<br/>
				<button type="button" class="btn btn-block btn-default">
					Создать группу
				</button>
				<button type="button" class="btn btn-block btn-default" ng-show="selectedModule">
					Добавить группу в модуль
				</button>
			</br>
		</div>
		
		<div class="col-md-3">
			<form role="form">
				<div class="form-group">
					<label for="groupName">Название группы</label>
					<input type="text" 
						   class="form-control" 
						   id="groupName" 
						   placeholder="Введите название"
						   ng-model="_txt">
				</div>
				<button type="submit" 
						class="btn btn-default" 
						ng-click="processForm()">
						Сохранить
				</button>
			</form>
		</div>		
	</div>
</div>